# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# Virtual Environment
.venv/
venv/
ENV/

# SQLite DB
*.db

# Alembic
alembic/versions/__pycache__/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.swp
*.bak
.idea/
